.boton-flotante {
  position: fixed;
  right: 3px;
  bottom: 200px;

  .float-img {
    width: 35px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.boton-flotante2 {
  position: fixed;
  left: 3px;
  bottom: 200px;

  .float-img {
    width: 30px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
