@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:wght@100&display=swap");
header {
  background: linear-gradient(to right, #55585d, #607d8b, black);
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
header h1 {
  color: #ffffff;
  padding-top: 20px;
  font-size: 50px;
}
header .nav-link {
  color: black;
  font-size: 16px;
  transition: 0.1s;
  padding-left: 20px;
}
header .nav-link:hover {
  background: linear-gradient(to bottom, #c9c9c9, #607d8b);
  color: #e3e3e3;
  border-radius: px;
}
header .nav-link:hover:active {
  transform: scale(0.9);
}
header .logo {
  width: 70px;
  padding-left: 20px;
  transition: 0.4s;
}
header .logo:hover {
  transform: scale(1.1);
}
header .logo:hover:active {
  transform: scale(0.9);
}

footer {
  background: linear-gradient(to right, #55585d, #607d8b, black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 200px;
  border-top: 1px solid black;
  margin-top: 100px;
}
footer div {
  width: 150px;
}
footer h6 {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  font-size: 16px;
}
footer .cielo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
footer .cielo a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
footer .cielo a:hover {
  background: #607d8b;
  color: black;
  transform: scale(1.1);
}
footer .redes {
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer .redes .red-logo {
  width: 40px;
  padding: 5px;
  transition: 0.3s;
}
footer .redes .red-logo:hover {
  transform: scale(1.2);
}
footer .redes .red-logo:hover:active {
  transform: scale(0.9);
}
footer .redes h5 {
  color: #ffffff;
  padding-top: 35px;
  font-size: 16px;
}
footer .redes ul {
  display: flex;
}
footer .redes li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section h2 {
  text-align: center;
  background: linear-gradient(to right, #607d8b, black);
  color: #ffffff;
  padding: 10px;
  margin-top: 50px;
  font-size: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
section p {
  font-size: 15px;
  line-height: 1.5;
  color: black;
  margin: 20px;
}

.trabajos {
  padding: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.trabajos h3 {
  color: black;
  border: 2px solid #607d8b;
  padding: 30px;
  font-size: 40px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.5);
}
.trabajos a {
  color: #ffffff;
  border: 2px solid #607d8b;
  padding: 20px;
  font-size: 32px;
  margin: 20px;
  background: #3c525e;
  border-radius: 8px;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.5);
}
.trabajos a:hover {
  transform: scale(1.1);
}
.trabajos a:hover:active {
  transform: scale(0.9);
}

section {
  display: flex;
  flex-flow: column;
  margin-bottom: 50px;
}
section .card {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 30px 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
section .card-img-top {
  width: 50%;
  margin: 20px 10px;
}
section .card-title {
  font-size: 32px;
  font-weight: bold;
}

.img-card {
  width: 450px;
}

.box {
  border: 1px solid black;
  padding: 10px 0;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.5);
}
.box h4 {
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}
.box p {
  line-height: 1.5;
  font-size: 2;
  font-size: 16px;
  text-align: center;
  color: black;
}

.map-img {
  width: 450px;
  padding: 30px 0;
}

.ubicacion-text {
  margin: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 350px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.5);
}
.ubicacion-text h4 {
  font-size: 32px;
}
.ubicacion-text p {
  font-size: 24px;
}

.map-img-ruta {
  width: 150px;
  padding: 20px;
}
.map-img-ruta:hover {
  transform: scale(1.2);
}
.map-img-ruta:hover:active {
  transform: scale(0.9);
}

.formulario {
  width: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 20px auto;
  display: flex;
  flex-flow: column;
}
.formulario label {
  font-weight: bolder;
  font-size: 24px;
}
.formulario input {
  margin: 10px;
}
.formulario textarea {
  margin: 10px;
}

.info {
  background-color: rgba(255, 255, 255, 0.8);
  width: 450px;
  margin: 50px auto;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.5);
}
.info h4 {
  font-size: 32px;
  font-weight: bold;
}
.info h4 {
  font-size: 24px;
  font-weight: bold;
}
.info p {
  font-size: 16px;
}

.botones input {
  margin: 10px 30px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 7px;
  background: #9eb1bb;
  color: black;
  border: 1px solid #ffffff;
  box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.5);
}
.botones input:hover {
  background: #607d8b;
  color: #ffffff;
  border: 1px solid #ffffff;
  transform: scale(1.1, 1.1);
}
.botones input:hover:active {
  transform: scale(0.9);
}

/************************************************************************/
@media (min-width: 350px) and (max-width: 767px) {
  .trabajos h3 {
    font-size: 32px;
  }
  .trabajos a {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .img-card {
    width: 350px;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .box {
    width: 90%;
    margin: 20px auto;
  }
  .box ul {
    margin: 10px;
  }
  .box h4 {
    font-size: 32px;
  }
  .img-card {
    width: 280px;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .formulario {
    width: 90%;
    margin: 20px 15px;
  }
  .info {
    width: 330px;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  .ubicacion-text {
    width: 320px;
    margin: auto;
  }
  .map-img {
    width: 320px;
    margin: auto;
  }
}
.boton-flotante {
  position: fixed;
  right: 3px;
  bottom: 200px;
}
.boton-flotante .float-img {
  width: 35px;
  transition: 0.3s;
}
.boton-flotante .float-img:hover {
  transform: scale(1.1);
}
.boton-flotante .float-img:hover:active {
  transform: scale(0.9);
}

.boton-flotante2 {
  position: fixed;
  left: 3px;
  bottom: 200px;
}
.boton-flotante2 .float-img {
  width: 30px;
  transition: 0.3s;
}
.boton-flotante2 .float-img:hover {
  transform: scale(1.1);
}
.boton-flotante2 .float-img:hover:active {
  transform: scale(0.9);
}/*# sourceMappingURL=estilo.css.map */